MONGODB_URI=mongodb://admin:<db_password>@cluster0-shard-00-00.3bm3a.azure.mongodb.net:27017,cluster0-shard-00-01.3bm3a.azure.mongodb.net:27017,cluster0-shard-00-02.3bm3a.azure.mongodb.net:27017/?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=topsecret2026 
PORT=3000
